{% extends 'public.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="pt-2 pt-sm-5 pb-4 pb-sm-5 position-relative">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="text-center w-75 m-auto">
                            <h4 class="text-dark-50 text-center mt-0 fw-bold">{{ 'Reset your password' |trans }}</h4>
                        </div>
                        {% for flash_error in app.flashes('reset_password_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}
                        {{ form_start(resetForm) }}
                            {{ form_widget(resetForm.plainPassword) }}
                            <div class="mb-3 text-center">
                                <button class="btn btn-primary" type="submit">{{ 'Reset password' |trans }}</button>
                            </div>
                        {{ form_end(resetForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
